/* Configuración global para el tamaño de la caja y el 100% de altura para el elemento HTML */
html {
    box-sizing: border-box;
    height: 100%;
}

/* Establecer el tamaño de la caja y eliminar los márgenes y rellenos predeterminados */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
    align-items: center;
    /* Fondo con degradado vertical */
    background: linear-gradient(320deg, #242B33, #000000, #133761);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit; /* Heredar la altura del elemento HTML */
    justify-content: center;
}

/* Estilos para el contenedor principal */
.wrapper {
    /* Efecto de desenfoque en el fondo */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    /* Fondo con transparencia usando rgba */
    background: rgba(43, 54, 67, 0.75);
    border: 1px solid rgba(54, 55, 55, 0.01);
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(118, 116, 116, 0.5);
    color: rgb(251, 251, 251);
    /* Otro efecto de desenfoque para el fondo */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* Nuevo fondo con transparencia */
    background: rgba(49, 56, 77, 0.3);
    border: 1px solid rgba(45, 45, 45, 0.70);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

/* Estilos para la pantalla de la calculadora */
.screen {
    /* Efecto de desenfoque en el fondo */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* Fondo con transparencia usando rgba */
    background-color: rgba(17, 49, 87, 0.4);
    border: 1px solid rgba(36, 42, 58, 0.3);
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(35, 35, 35, 0.9);
    color: rgb(205, 205, 205);
    font-size: 35px;
    overflow: auto;
    padding: 15px;
    text-align: right;
    width: 326px;
}

/* Estilos para la fila de botones de la calculadora */
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

/* Estilos para los botones de la calculadora */
.calc-button {
    /* Efecto de desenfoque en el fondo */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* Fondo con transparencia usando rgba */
    background: rgba(21, 24, 34, 0.55);
    border: 1px solid rgb(36, 42, 58, 0.2);
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba(65, 65, 65, 0.7);
    color: aliceblue;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

/* Estilos para el último botón de la calculadora */
.calc-button:last-child {
    /* Efecto de desenfoque en el fondo */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* Cambiar el fondo del último botón */
    background: rgba(21, 24, 34, 0.55);
    background: rgb(4, 47, 73);
    border: 1px solid rgb(36, 42, 58, 0.2);
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba(65, 65, 65, 0.7);
    color: aliceblue;
}

/* Estilos para el estado hover de los botones */
.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: rgb(24, 30, 52);
}

/* Estilos para el estado activo de los botones */
.calc-button:active {
    background-color: rgb(12, 60, 112);
}

/* Estilos para botones que ocupan un ancho doble o triple */
.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}
